* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "handwriting";
    src:
        url("fonts/journal-webfont.woff2") format("woff2"),
        url("fonts/journal-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "handwriting";
    font-size: 1.3rem sans-serif;
    color: #333;
    background: #222222;
}

header {
    margin: 0 auto;
    width: 650px;
}

h1 {
    margin: 1rem;
    font-size: 1.5em;
    color: navy;
    text-align: center;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

fieldset {
    display: grid;
    gap: 0.75rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
}

legend {
    padding: 0 0.5rem;
    color: navy;
    font-size: 1.3em;
    font-weight: bold;
}

label,
input,
button,
select,
textarea {
    font-family: "handwriting";
}

label {
    text-align: right;
    padding-right: 1rem;
}

input,
select,
textarea {
    padding: 0.5rem;
    font-size: 1.3rem;
}

input [type="checkbox"] {
    width: 22px;
    height: 22px;
    justify-self: start;
}

button {
    margin: 1rem auto;
    width: 150px;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.1rem;
    cursor: pointer;
}

button:hover {
    background-color: #001f4d;
}

footer {
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.8em;
    color: #777;
    border-top: 1px solid #ccc;
}

.form-item {
    display: grid;
    align-items: center;
    gap: 0.5rem;
}

.form-item.column2 {
    grid-template-columns: 1fr 2fr;
}