* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --heading-background-color: #3498db;
    --heading-text-color: #2ecc71;
    --heading-font: 24px;
    --padding: 1rem;
    --border: 1px solid rgb(0 0 0 / 0.1);
}

* {
    margin: 0;
    padding: 0;
}

main {
    max-width: 800px;
    margin: 2rem auto;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    font-size: 1.5rem;
    text-shadow: 3px 3px 5px #777;
}

.herodiv {
    margin: 10px auto;
    position: relative;
    /* If removed, what happens? */
}

.herodiv img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.stats {
    position: absolute-centre;
    bottom: 25px;
    left: 15px;
    background: radial-gradient(#eee, #777);
    border: 1px solid #000;
    padding: 0.65rem;
    box-shadow: 0 0 30px #111;
    opacity: 0.9;
    text-align: bottom;
}

h2 {
    text-shadow: 0 0 15px #333;
    border-bottom: 1px solid #555;
    margin-bottom: 0.3rem;
}

footer {
    position: fixed;
    bottom: 0;
    margin: 1rem;
    border-top: 1px solid #000;
    padding: 0.5rem;
    color: navy;
    font-weight: 700;
    font-style: italic;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid #3498db;
    padding: 1rem;
    backgroung-color: #fff;
    color: #000;

}

aside {
    width: 20em;
    text-align: center;
}

main img {
    /* you most likely will have other CSS declarations here */
    float: right;
}

aside h2 {
    position: absolute;
    top: 47px;
    left: 150px;
}