* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 1rem;
    font-family: monospace;
    font-size: 1.2rem;
}

div {
    margin: 1rem;
    border: 1px dashed;
    padding: 1rem;
    display: grid;
    place-items: center;
}

.one {
    width: 200px;
    height: 200px;
}

.flex {
    background-color: #aba;
    display: flex;
    justify-content: center;
    align-items: center
        /* write declarations here */
}

.grid {
    background-color: #abb;
    display: grid;
    place-items: center;
    /* enter declarations here */

}

.container2 {
    /* write declarations here */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.two {
    background-color: #ace;
    height: 100px;
}

.container3 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    /* write declarations here */

}

.columns-3 {
    grid-template-columns: span 3;
    /* write declaration here */

}

.three {
    margin: .25rem;
    background-color: #abd;
}