 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 /* aside image */
 aside img {
     width: 200px;
     height: auto;
 }

 /* Navigation bar */
 nav {
     background-color: #4CAF50;
     /* example color */
     padding: 10px;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
 }

 nav a {
     color: white;
     padding: 10px 15px;
     display: block;
     text-decoration: none;
     /* optional, makes links cleaner */
 }

 nav ul {
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     list-style: none;
     padding: 0;
     margin: 0;
 }

 /* main section */
 main {
     max-width: 840px;
     margin: 0 auto;
     /* centers main content */
 }

 /* main heading */
 h1 {
     color: #333333;
 }

 /* aside section */
 aside {
     width: 20rem;
     margin: 1rem;
     border: 1px solid rgb(0 0 0 /0.2);
     /* 1 */
     padding: 1rem;
     background-color: #eee;
     color: #333;
     text-align: center;
 }

 /* main image */
 main img {
     width: 200px;
     height: auto;
     border: 2px solid #ccc;
     padding: 5px;
     box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
 }

 /* paragraphs */
 p {
     padding: 0;
 }

 /* footer */
 footer {
     margin-top: 15px;
     border-top: 1px solid #000;
     text-align: center;
 }

 .header,
 footer,
 .grid {
     max-width: 840px;
     margin: 0 auto;
 }

 body {
     font-size: 16px;
     font-family: Roboto, Arial, sans-serif;
     display: block;
 }

 header {
     display: block;
 }

 .grid {
     display: grid;
     align-items: center;
     grid-template-columns: 1fr 3fr;
     gap: 20px;
     /* aside smaller, main larger */
 }

 main {
     grid-column: 2;
     margin: 1rem;
 }

 aside {
     width: 20rem;
     position: relative;
     grid-column: 1;
     grid-row: 1;
 }

 h1 {
     border-bottom: 3px solid black;
     padding-bottom: 8px;
 }